<div class="contact-container">
  <div class="btn-container">
    <app-g-button
      btnText="GITHUB"
      btnLink="https://github.com/mdjawwad"
    ></app-g-button>

    <app-g-button
      btnLink="https://github.com/mdjawwad"
      btnText="INSTAGRAM"
    ></app-g-button>

    <app-g-button
      btnLink="https://github.com/mdjawwad"
      btnText="LINKEDIN"
    ></app-g-button>
  </div>
  <div class="contact-text">
    <img
      src="https://uploads-ssl.webflow.com/6281d2067e9c38eb98561008/628218367e1c2e4f3a22ebd2_get%20in%20touch.svg"
      alt="in-touch"
    />
    <p>
      AM AVAILABLE FOR A FREELANCE PROJECT THIS YEAR. LOOKING FOR A UI DESIGNER?
      JUST GET IN TOUCH.
    </p>
    <button class="footer-btn">Contact Me</button>
  </div>
</div>
