<div class="container">
  <span>FEATURED PROJECTS</span>
  <div class="row">
    <div class="card">
      <div class="card-img">
        <a href="https://mohammad-jawwad.netlify.app/#home" target="_blank">
          <img src="../../../assets/demo-portfolio.png " alt="Dashboard" />
        </a>
      </div>
      <div class="card-text">
        <h5>Portfolio</h5>
        <p>
          A modern portfolio app designed to showcase your work with elegance
          and ease. Users can create stunning galleries, detailed project
          descriptions, and personalized profiles.
        </p>
        <a href="#"> View Full Here </a>
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <a href="https://warm-frangipane-d3c486.netlify.app/" target="_blank">
          <img src="../../../assets/dashboard.png " alt="Dashboard" />
        </a>
      </div>
      <div class="card-text">
        <h5>Admin DashBoard | UI</h5>
        <p>
          The dashboard UI design features a clean, intuitive layout with a
          responsive grid system, ensuring device accessibility
        </p>
        <a href="#"> View Full Here </a>
      </div>
    </div>
    <div class="card">
      <div class="card-img"> 
        <a href="https://warm-frangipane-d3c486.netlify.app/" target="_blank">
          <img src="../../../assets/GPT-3.png " alt="gpt-3" />
        </a>
      </div>
      <div class="card-text">
        <h5>GPT-3 | Open AI Web Page</h5>
        <p>Let's Build Something amazing with GPT-3 OpenAI</p>
        <a href="#"> View Full Here </a>
      </div>
    </div>
    <div class="card">
      <div class="card-img">
        <a href="https://rendom-gif.netlify.app/" target="_blank">
          <img src="../../../assets/random-gif.png" alt="" />
        </a>
      </div>
      <div class="card-text">
        <h5>Random GIF Generator | APIs</h5>
        <p>
          A fun and easy-to-use random GIF generator app that offers a vast
          library of trending and popular GIFs. With a simple tap.
        </p>
        <a href="#"> View Full Here </a>
      </div>
    </div>
  </div>
  <button class="button">See More</button>
</div>
