<div class="container">
  <div class="nav">
    <div class="name-container">
      <span class="web-text"
        >Web Developer <br />
        & Freelancer
      </span>
      <span class="name">
        Jawwad <br />
        Faisal
      </span>
    </div>

    <div class="right-container">
      <button
        class="theme-toggle"
        type="button"
        id="themeToggleBtn"
        title="Toggle theme"
        aria-label="Toggle theme"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          width="1em"
          height="1em"
          class="theme-toggle__dark-side"
          fill="currentColor"
          viewBox="0 0 32 32"
        >
          <path
            d="M16 .5C7.4.5.5 7.4.5 16S7.4 31.5 16 31.5 31.5 24.6 31.5 16 24.6.5 16 .5zm0 28.1V3.4C23 3.4 28.6 9 28.6 16S23 28.6 16 28.6z"
          />
        </svg>
      </button>
      <span>
        Asal <br />
        Developer
      </span>
    </div>
  </div>
  <div class="main">
    <div class="logo">
      <img
        src="https://uploads-ssl.webflow.com/6281d2067e9c38eb98561008/6282186525b65e675f053961_Frame%205469.svg"
        alt=""
      />
    </div>

    <div class="title">
      <span>DEVELOPER</span>
      <span
        >DEV <br />
        ELO <br />
        PER</span
      >
    </div>
    <P>
      Hello, I'm Mohammad jawwad, a passionate web developer based in the India.
      With a strong foundation in creating dynamic and responsive websites,
      <span>
        I specialize in delivering high-quality digital solutions tailored to
        meet client needs. Let's connect and bring your web projects to life!,
      </span></P
    >
  </div>
  <div class="info-container">
    <p class="p-1">
      Currently have 2 year experience in Web Development, Working for domestic
      clients. I am currently working at Limra Azex Inc, as a full-time web
      developer.
    </p>
    <p class="p-2">
      I like to describe myself as a web Developer with high discipline and
      enjoy working in a team or independently.
    </p>
    <p class="p-3">Say Hi! <br /><a href="mailto:muhammadjawwad790@gmail.com">muhammadjawwad790&#65312;gmail.com</a></p>
  </div>
  <div class="btn-container">
    <app-g-button
      btnText="GITHUB"
      btnLink="https://github.com/mdjawwad"
    ></app-g-button>

    <app-g-button
      btnLink="https://www.instagram.com/md_jawwad790/?hl=en"
      btnText="INSTAGRAM"
    ></app-g-button>

    <app-g-button
      btnLink="https://www.linkedin.com/in/mohammad-jawwad-9a4912245/"
      btnText="LINKEDIN"
    ></app-g-button>
  </div>
</div>


