#loading-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.5s ease;
}

#loading-container.hidden {
  opacity: 0;
  pointer-events: none;
}
 
#content {
  display: none;
}
