#loading-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: opacity 0.4s ease;
}

#loading-container.hidden {
  opacity: 0;
  pointer-events: none;
}

#content {
  display: none;
  opacity: 2;

}

@media screen and (max-width: 650px) {
  #content {
    width: 100% !important;
  }
}
