<div class="skill-container">
  <div class="skill">
    <div class="item">
      <img src="assets/skill-icon/html5.svg" alt="" />
    </div>
    <div class="item">
      <img src="assets/skill-icon/css3.svg" alt="" />
    </div>
    <div class="item">
      <img src="assets/skill-icon/sass.svg" alt="" />
    </div>
    <div class="item">
      <img src="assets/skill-icon/javascript.svg" alt="" />
    </div>
    <div class="item">
      <img src="assets/skill-icon/typescript.svg" alt="" />
    </div>
    <div class="item">
      <img src="assets/skill-icon/react.svg" alt="" />
    </div>
 
  </div>
  <div class="skill">
 
    <div class="item">
      <img src="assets/skill-icon/angular.svg" alt="" />
    </div>
    <div class="item">
      <img src="assets/skill-icon/mongodb.svg" alt="" />
    </div>
    <div class="item">
      <img src="assets/skill-icon/google-firebase.svg" alt="" />
    </div>
    <div class="item">
      <img src="assets/skill-icon/npm.svg" alt="" />
    </div>
    <div class="item">
      <img src="assets/skill-icon/nodejs.svg" alt="" />
    </div>
    <div class="item">
      <img src="assets/skill-icon/bootstrap.svg" alt="" />
    </div>
  </div>
 
</div>
