@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap"); 


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
 

html,
body {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
 body {
  background: #0111bf !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow: auto;
} 

button,
a {
  cursor: pointer;
}

body.dark-mode canvas {
  opacity: 0.1;
}
body.dark-mode body {
  background-color: hwb(0 0% 100%) !important;
}

body.dark-mode .container {
  background-color: hwb(0 0% 100%) !important;
}
body.dark-mode .dark-mode-btn{
  background: white;
  border-radius: 50%;
}


@keyframes title-anim { 
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes text-slide-left {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;

    transform: translateX(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}
@keyframes text-slide-right {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;

    transform: translateX(250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}

@keyframes slide-up {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}



 